body {
	background-color: lightcyan;
	font-family: Courier, monospace;
	margin: 0 !important;
}
.first-div{
	width:100%;
	margin: 0 !important;
}
.flex{
	display: flex;
	background-color: none;
	border: none;
}

h1{
	color: red;
	font-family: Roboto;
}

.flex{
	display: flex;
}

#cursus{
	font-size: 24px;
	color: darkblue;
}
#hobbies{
	font-size: 24px;
	color: darkgreen;
}
li{
	color: rgb(153, 204, 0);
}

.fontstyle{
	color: darkgoldenrod;
}


a{
	text-decoration: none;
}
div{
	border: thin solid red;
	border-radius: 15px;
	margin: 30px;
	padding: 5px;
	width: 300px;
	background-color: grey;
}